<f:layout name="default"/>

<f:section name="content">

    <h1>Turnier ansehen</h1>

    <dl class="dl-horizontal">
        <dt>Turnier-Titel:</dt>
        <dd>{turnier.titel}</dd>
        <dt>Turnier-Datum</dt>
        <dd>{turnier.dateturnier}</dd>
        <dt>Turnier-Ort</dt>
        <dd>{turnier.location}</dd>
    </dl>

    <f:if condition="{turnier.spieler}">
        <f:then>
        <ul class="list-group">
            <f:for each="{turnier.spieler}" as="spieler">
                <li class="list-group-item"><b>Name: </b>{spieler.name} | <b>Stärke: </b>{spieler.strength} | <b>Spielmodus: </b>{spieler.spielmodus.einzel} | <b>Geschlecht: </b>{spieler.gender}
                    <f:link.action action="deleteConfirm" controller="Spieler" arguments="{turnier:turnier,spieler:spieler}" class="btn btn-primary btn-xs pull-right margin-right">DEL</f:link.action>
                    <f:link.action action="edit" controller="Spieler" arguments="{turnier:turnier,spieler:spieler,spielmodus:spielmodus}" class="btn btn-primary btn-xs pull-right margin-right">EDIT</f:link.action>
                    <f:if condition="{turnier.spieler.spielmodus} == NULL">
                        <f:then>
                            <f:link.action action="new" controller="Spielmodus" arguments="{turnier:turnier,spieler:spieler,spielmodus:spielmodus}" class="btn btn-primary btn-xs pull-right margin-right">Spielmodus eintragen</f:link.action>
                        </f:then>
                        <f:else>
                            <f:link.action action="edit" controller="Spielmodus" arguments="{turnier:turnier,spieler:spieler,spielmodus:spielmodus}" class="btn btn-primary btn-xs pull-right margin-right">Spielmodus ändern</f:link.action>  
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ul>
        </f:then>
        <f:else>Es sind keine Spieler für dieses Turnier registriert!<br><br></f:else>
    </f:if>

    <f:link.action action="new" controller="Spieler" arguments="{turnier:turnier}" class="btn btn-primary">Spieler anlegen</f:link.action>

    <br /><br />

    <f:link.action action="list" class="btn btn-primary">
        Zurück zur Turnier-Liste
    </f:link.action>

</f:section>