<h1>{headline}</h1>

<div class="alert alert-danger"><f:render partial="Errors" arguments="{object:'turnier'}" /></div>

<f:form action="{action}" object="{turnier}" name="turnier" additionalAttributes="{role:'form'}">

    <div class="form-group">
        <label>Turnier-Name</label>
        <f:form.textfield property="titel" class="form-control" />
    </div>

    <div class="form-group">
        <label>Turnier-Datum</label>
        <f:form.textfield id="datepicker" property="dateturnier" value="{f:format.date(date:'{turnier.dateturnier}', format: 'd.m.Y')}" size="12" />
    </div>

    <div class="form-group">
        <label>Turnier-Ort</label>
        <f:form.textfield property="location" class="form-control" />
    </div>

    <f:form.submit value="{submitmessage}" class="btn btn-primary" />

</f:form>
